aiodns==3.2.0
aiofiles==24.1.0
aiohttp==3.9.3
aiohttp-socks==0.8.4
aiomultiprocess==0.9.1
aioquic==0.9.25
aiosignal==1.3.1
aiosqlite==0.20.0
alpha_vantage==3.0.0
aniso8601==9.0.1
anyio==4.2.0
apkscan==0.4.0
appdirs==1.4.4
argcomplete==3.3.0
asgiref==3.7.2
asn1crypto==1.5.1
asttokens==2.4.1
async-timeout==4.0.3
attrs==23.2.0
Automat==22.10.0
Babel==2.10.3
backdoor-factory==0.0.0
backoff==2.2.1
backports.tarfile==1.2.0
bcrypt==3.2.2
beautifulsoup4==4.12.3
beniget==0.4.1
blinker==1.7.0
bluepy==1.3.0
Bottleneck==1.3.8
Brlapi==0.8.5
Brotli==1.1.0
bs4==0.0.2
capstone==5.0.1
catfish==4.16.4
ccxt==4.3.79
censys==2.2.12
certifi==2023.11.17
cffi==1.16.0
cfgv==3.4.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.6
click-plugins==1.1.1
cloudscraper==1.2.71
colorama==0.4.6
colored-traceback==0.3.0
commonmark==0.9.1
constantly==23.10.4
contourpy==1.0.7
cors==1.0.1
CRLFsuite==2.5.2
cryptography==41.0.7
cssselect==1.2.0
cycler==0.11.0
dbus-python==1.3.2
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
dicttoxml==1.7.15
distlib==0.3.8
distro==1.9.0
Django==5.0.6
django-googlesearch==0.2
dnspython==2.6.0
docutils==0.21.2
dsinternals==1.2.4
emailfinder==0.3.0b0
enjarify-adapter==1.0.2
et-xmlfile==1.0.1
executing==2.0.1
existrike @ file:///home/kali/existrike
fake-useragent==1.5.1
Faker==25.9.1
filelock==3.13.1
flasgger==0.9.7.2.dev2
Flask==2.2.5
Flask-RESTful==0.3.9
fonttools==4.46.0
frozenlist==1.4.1
fs==2.4.16
fsspec==2024.3.1
future==1.0.0
gast==0.5.2
gevent==23.9.1
ghauri==1.3.4
gitdb==4.0.11
GitPython==3.1.43
google==3.0.0
gpg==1.18.0
greenlet==3.0.3
gyp-next==0.16.2
h11==0.14.0
h2==4.1.0
hpack==4.0.0
html5lib==1.1
httpcore==1.0.2
httplib2==0.22.0
httpx==0.26.0
huggingface-hub==0.22.2
hyperframe==6.0.0
hyperlink==21.0.0
identify==2.6.0
idna==3.6
image==1.5.33
impacket==0.11.0
importlib_metadata==7.1.0
incremental==22.10.0
intervaltree==3.1.0
invoke==2.2.0
ipython==8.20.0
itsdangerous==2.1.2
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.0.2
jedi==0.19.1
jeepney==0.8.0
Jinja2==3.1.2
joblib==1.4.0
jsonpointer==2.3
jsonschema==4.10.3
kaitaistruct==0.10
kali-tweaks==2023.3.2
keyring==25.3.0
KismetCaptureBtGeiger==2021.7.1
KismetCaptureFreaklabsZigbee==2018.7.0
KismetCaptureRtl433==2020.10.1
KismetCaptureRtladsb==2020.10.1
KismetCaptureRtlamr==2020.10.1
kismetexternal==2019.12.1
kiwisolver==0.0.0
ldap3==2.9.1
ldapdomaindump==0.9.4
lightdm-gtk-greeter-settings==1.2.2
louis==3.28.0
lxml==5.1.0
lz4==4.0.2+dfsg
lznt1==0.2
M2Crypto==0.40.1
Mako==1.3.2.dev0
markdown-it-py==2.2.0
MarkupSafe==2.1.3
matplotlib==3.6.3
matplotlib-inline==0.1.6
mdurl==0.1.2
mechanize==0.4.9
mistune0==0.8.4
mitmproxy==10.2.2
mitmproxy_rs==0.5.2
more-itertools==10.4.0
mpmath==0.0.0
msgpack==1.0.3
multidict==6.0.5
netaddr==0.8.0
netifaces==0.11.0
networkx==3.3
nexfil==1.0.6
nh3==0.2.18
nltk==3.8.1
nodeenv==1.9.1
ntpsec==1.2.2
Nuitka==2.4.5
numexpr==2.10.0
numpy==1.26.4
odfpy==1.4.2
olefile==0.46
onboard==1.4.1
openpyxl==3.1.2
ordered-set==4.1.0
outcome==1.3.0.post0
packaging==23.2
pandas==2.1.4+dfsg
pandas-ta==0.3.14b0
paramiko==3.4.0
paramspider @ file:///home/kali/paramspider
parse==1.20.1
parso==0.8.3
parth==0.2.1
passlib==1.7.4
pbkdf2==1.3
pcapy==0.11.5.dev0
pefile==2023.2.7
pexpect==4.9.0
phonenumbers==8.13.39
pillow==10.2.0
pkginfo==1.10.0
platformdirs==4.2.2
playwright==1.44.0
plumbum==1.8.2
ply==3.11
pre-commit==3.3.1
prettytable==2.2.1
prompt-toolkit==3.0.43
protobuf==4.21.12
psutil==5.9.5
ptyprocess==0.7.0
publicsuffix2==2.20191221
pure-eval==0.0.0
pwn==1.0
pwntools==4.12.0
py-cpuinfo==9.0.0
pyarmor==8.5.10
pyarmor.cli.core==6.5.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.25.1
pycares==4.4.0
pycparser==2.21
pycryptodome==3.20.0
pycryptodomex==3.11.0
pycurl==7.45.3
pyee==11.1.0
pyelftools==0.31
pyfiglet==1.0.2
Pygments==2.15.1
PyGObject==3.46.0
PyHamcrest==2.0.3
pyinotify==0.9.6
PyJWT==2.8.0
pylsqpack==0.3.18
pyminizip==0.2.6
pymongo==4.8.0
pymssql==2.2.11
PyNaCl==1.5.0
pyOpenSSL==23.2.0
pyparsing==3.1.1
pyperclip==1.8.2
pypng==0.20231004.0
pyppeteer==2.0.0
PyQRCode==1.2.1
pyquery==2.0.0
PyRIC==0.1.6.4
pyrsistent==0.18.1
pyserial==3.5
pyshorteners==1.0.1
pysmi==0.3.4
pysnmp==4.4.6
PySocks==1.7.1
python-apt==2.7.5
python-dateutil==2.8.2
python-dotenv==1.0.1
python-magic==0.4.27
python-obfuscator==0.0.2
python-socks==2.4.4
pythran==0.15.0
pytz==2023.4
pyxdg==0.28
PyYAML==6.0.1
pyzipper==0.3.6
qrcode==7.4.2
readme_renderer==44.0
redis==4.3.4
regex==2023.12.25
requests==2.31.0
requests-file==1.5.1
requests-futures==1.0.1
requests-html==0.10.0
requests-toolbelt==1.0.0
rfc3986==2.0.0
rfc3987==1.3.8
rich==13.3.1
rich-click==1.8.3
roguehostapd==1.1.2
ROPGadget==7.4
rpyc==6.0.0
rq==1.15.1
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.8
safetensors==0.4.2
scapy==2.5.0
scipy==1.10.1
SecretStorage==3.3.3
selenium==4.18.1
service-identity==24.1.0
shellingham==1.5.4
sherlock-project==0.14.4
shodan==1.30.1
simplejson==3.19.2
six==1.16.0
Slowloris==0.2.6
smmap==5.0.1
sniffio==1.3.0
socialscan==2.0.1
socksio==1.0.0
sortedcontainers==2.4.0
soupsieve==2.5
sqlparse==0.5.0
stack-data==0.6.3
stem==1.8.2
StrEnum==0.4.15
stripe==10.8.0
style==1.1.0
sympy==1.12
tables==3.9.2
telegram==0.0.1
telepot==12.7
termcolor==1.1.0
tldextract==3.1.2
tokenizers==0.15.2
torch==2.4.0
tornado==6.4
torrequest==0.1.0
tqdm==4.66.5
traitlets==5.5.0
transformers==4.39.3
trio==0.25.0
trio-websocket==0.11.1
twine==5.1.1
Twisted==23.10.0
typer==0.6.1
types-aiofiles==23.2
types-aws-xray-sdk==2.12
types-beautifulsoup4==4.12
types-bleach==6.1
types-boltons==23.0
types-boto==2.49
types-braintree==4.24
types-cachetools==5.3
types-caldav==1.3
types-cffi==1.16
types-chevron==0.14
types-click-default-group==1.2
types-click-spinner==0.1
types-colorama==0.4
types-commonmark==0.9
types-console-menu==0.8
types-croniter==2.0
types-dateparser==1.1
types-decorator==5.1
types-Deprecated==1.2
types-dockerfile-parse==2.0
types-docopt==0.6
types-docutils==0.20
types-editdistance==0.6
types-entrypoints==0.4
types-ExifRead==3.0
types-first==2.0
types-flake8-2020==1.8
types-flake8-bugbear==23.9.16
types-flake8-builtins==2.2
types-flake8-docstrings==1.7
types-flake8-plugin-utils==1.3
types-flake8-rst-docstrings==0.3
types-flake8-simplify==0.21
types-flake8-typing-imports==1.15
types-Flask-Cors==4.0
types-Flask-Migrate==4.0
types-Flask-SocketIO==5.3
types-fpdf2==2.7.4
types-gdb==12.1
types-google-cloud-ndb==2.2
types-greenlet==3.0
types-hdbcli==2.18
types-html5lib==1.1
types-httplib2==0.22
types-humanfriendly==10.0
types-ibm-db==3.2
types-influxdb-client==1.38
types-inifile==0.4
types-JACK-Client==0.5
types-jmespath==1.0
types-jsonschema==4.19
types-keyboard==0.13
types-ldap3==2.9
types-libsass==0.22
types-Markdown==3.5
types-mock==5.1
types-mypy-extensions==1.0
types-mysqlclient==2.2
types-netaddr==0.9
types-oauthlib==3.2
types-openpyxl==3.1
types-opentracing==2.4
types-paho-mqtt==1.6
types-paramiko==3.3
types-parsimonious==0.10
types-passlib==1.7
types-passpy==1.0
types-peewee==3.17
types-pep8-naming==0.13
types-pexpect==4.8
types-pika-ts==1.3
types-Pillow==10.1
types-playsound==1.3
types-pluggy==1.2.0
types-polib==1.2
types-portpicker==1.6
types-protobuf==4.24
types-psutil==5.9
types-psycopg2==2.9
types-pyasn1==0.5
types-pyaudio==0.2
types-PyAutoGUI==0.9
types-pycocotools==2.0
types-pycurl==7.45.2
types-pyfarmhash==0.3
types-pyflakes==3.1
types-Pygments==2.16
types-pyinstaller==6.1
types-pyjks==20.0
types-PyMySQL==1.1
types-pynput==1.7
types-pyOpenSSL==23.3
types-pyRFC3339==1.1
types-PyScreeze==0.1.29
types-pyserial==3.5
types-pysftp==0.2
types-pytest-lazy-fixture==0.6
types-python-crontab==3.0
types-python-datemath==1.5
types-python-dateutil==2.8
types-python-gflags==3.1
types-python-jose==3.3
types-python-nmap==0.7
types-python-slugify==8.0
types-python-xlib==0.33
types-pytz==2023.3.post1
types-pywin32==306
types-pyxdg==0.28
types-PyYAML==6.0
types-qrcode==7.4
types-redis==4.6.0
types-regex==2023.10.3
types-requests==2.31
types-requests-oauthlib==1.3
types-retry==0.9
types-s2clientprotocol==5
types-seaborn==0.13
types-Send2Trash==1.8
types-setuptools==68.2
types-simplejson==3.19
types-singledispatch==4.1
types-six==1.16
types-slumber==0.7
types-stdlib-list==0.8
types-stripe==3.5
types-tabulate==0.9
types-tensorflow==2.12
types-toml==0.10
types-toposort==1.10
types-tqdm==4.66
types-translationstring==1.4
types-tree-sitter==0.20.1
types-tree-sitter-languages==1.8
types-ttkthemes==3.2
types-tzlocal==5.1
types-ujson==5.8
types-untangle==1.2
types-usersettings==1.1
types-uWSGI==2.0
types-vobject==0.9
types-waitress==2.1
types-WebOb==1.8
types-whatthepatch==1.0
types-workalendar==17.0
types-WTForms==3.1
types-xmltodict==0.13
types-zstd==1.5
types-zxcvbn==4.4
typing_extensions==4.9.0
ufoLib2==0.16.0
ujson==5.10.0
undetected-chromedriver==3.5.5
unicorn==2.0.1.post1
unix-ar==0.2.1
update==0.0.1
uritemplate==4.1.1
urllib3==2.2.2
urwid==2.5.2
urwid-mitmproxy==2.1.2.1
uvloop==0.19.0
virtualenv==20.26.3
w3lib==2.1.2
wcwidth==0.2.5
webcolors==1.11.1
webencodings==0.5.1
websockets==10.4
Werkzeug==2.3.8
wfuzz==3.1.0
whois==1.20240129.2
wifiphisher==1.4
wifite==2.7.0
wrapt==1.15.0
wsproto==1.2.0
xdg==5
XlsxWriter==3.1.9
xsrfprobe==2.3.1
yarl==1.9.4
zipp==3.11.0
zope.event==5.0
zope.interface==6.1
zstandard==0.23.0.dev0
